/* Header */
#head
{
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:520px;
    min-height:450px;
    text-align: center;
    padding-top:10px;
    color:#000000;
    font-family:"Open sans", Helvetica, Arial;
    font-weight:300;
    opacity: 1;
    display: flex;
}

#head:after
{
    position: absolute;
    contain: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

@media screen and (max-width: 600px)
{

    #head
    {
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        /*min-height:520px;*/
        min-height:300px;
        text-align: center;
        padding-top:50px;
        color:#3678a0;
        font-family:"Open sans", Helvetica, Arial;
        font-weight:200;
        opacity: 1;
        display: flex;
    }

    #head:after
    {
        position: absolute;
        contain: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(255, 255, 255, 0.5);
        display: none;
    }

}

#head:hover:after
{
    display: block;
}

#head.secondary
{
    height:100px;
    min-height: 100px;
    padding-top:0px;
}

#head.thirdly
{
    min-height: 90px;
    max-height: 90px;
    padding-top:0px;
    background-color: #ffffff;
}

#head .lead
{
    font-family:"Open sans", Helvetica, Arial;
    color: rgba(0,0,0,0.6);
    text-shadow: 0px 2px 4px black;
    font-size:44px;
    margin-bottom:6px;
    color:white;
    line-height:1.15em;
}

#head .tagline
{
    color:rgba(255,255,255,0.75);
    margin-bottom:25px;
}

#head .tagline2
{
    color: rgba(0,0,0,0.8);
    text-shadow: 0px 4px 4px black;
    color:white;
    margin-bottom:25px;
    line-height:1.15em;
}

#head .tagline a
{
    /*color:#fff;*/
    color:#3678a0;
}

#head .btn
{
    margin-bottom:10px;
}

#head .btn-default
{
    text-shadow: none;
    background:transparent;
    color:rgba(255,255,255,.5);
    -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
    box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
    background: transparent;
}

#head .btn-default:hover, #head .btn-default:focus
{
    color:rgba(255,255,255,.8);
    -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
    -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
    box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
    background: transparent;
}

#head .btn-default:active, #head .btn-default.active
{
    color:#fff;
    -webkit-box-shadow:inset 0px 0px 0px 3px #fff;
    -moz-box-shadow:inset 0px 0px 0px 3px #fff;
    box-shadow:inset 0px 0px 0px 3px #fff;
    background: transparent;
}

@media (max-width: 767px)
{
    #head
    {
        min-height:420px;
        padding-top:160px;
    }

    #head .lead
    {
        font-size: 34px;
    }
}


/* Autohide navbar */
.slideUp
{
    top:-100px;
}

.headroom
{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/* Highlights (in jumbotron in most cases) */
.highlight
{
    margin-top:40px;
}

.h-caption
{
    text-align: center;
}

.h-caption i
{
    display:block;
    font-size: 54px;
    color:#382526;
    margin-bottom:36px;
}

.h-caption h4
{
    color:#382526;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:20px;
}

.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6
{
    font-family:"Open sans", Helvetica, Arial;
}

h1, .h1, h2, .h2, h3, .h3
{
    margin-top:30px;
}

blockquote
{
    font-style: italic;
    font-family: Georgia;
    color:#999;
    margin:30px 0 30px;
}

label
{
    color: #777;
}

.thin
{
    font-weight:300;
}

.page-title
{
    margin-top:20px;
    font-weight:300;
}

.text-muted
{
    color:#888;
}

.breadcrumb
{
    background:none;
    padding:0;
    margin:30px 0 0px 0;
}

ul.list-spaces li
{
    margin-bottom:10px;
}

/* Helpers */
.container-full
{
    margin: 0 auto;
    width: 100%;
}

.top-space
{
    margin-top: 60px;
}

.top-margin
{
    margin-top:20px;
}

img
{
    max-width:100%;
}

img.pull-right
{
    margin-left: 10px;
}

img.pull-left
{
    margin-right: 10px;
}

#map
{
    width:100%;
    height:280px;
}

#social
{
    margin-top:50px;
    margin-bottom:50px;
}

#social .wrapper
{
    width:340px;
    margin:0 auto;
}

/* Main content block */
.maincontent { }

/* Sidebars */
.sidebar
{
    padding-top:36px;
    padding-bottom:30px;
}

.sidebar .widget
{
    margin-bottom:20px;
}

.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3
{
    margin-top:20px;
}

/* Footer */
.footer1
{
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

.footer1 a
{
    color: #ccc;
}

.footer1 a:hover
{
    color: #fff;
}

.footer1 .widget
{
    margin-bottom:30px;
}

.footer1 .widget-title
{
    font-size: 17px;
    font-weight: bold;
    color: #ccc; margin: 0 0 20px;
}

.footer1 .entry-meta
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 35px 0;
    padding: 2px 0;
    color: #888888;
    font-size: 12px;
    font-size: 0.75rem;
}

.footer1 .entry-meta a
{
    color: #333333;
}

.footer1 .entry-meta .meta-in
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.follow-me-icons
{
    font-size:30px;
}

.follow-me-icons i
{
    float:left;
    margin:0 10px 0 0;
}

.footer2
{
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

.footer2 a
{
    color: #aaa;
}

.footer2 a:hover
{
    color: #fff;
}

.footer2 p
{
    margin: 0;
}

.widget-simplenav
{
    margin-left:-5px;
}

.widget-simplenav a
{
    margin:0 5px;
}

/* Adding some css */

/*
ul.nav.navbar-nav.pull-right > li > a:visited
{
	/*color: #8300e9 !important;*/
/*color: #e32a78 !important;
}
*/

ul.nav.navbar-nav.pull-right > li > a:link, ul.nav.navbar-nav.pull-right > li > a:visited
{
    color: #105d8b !important;
}
ul.nav.navbar-nav.pull-right > li > a:hover
{
    color: #3678a0 !important;
}

ul.nav.navbar-nav.pull-right > li.active> a
{
    color: #3678a0 !important;
}

/* -- Search Bar -- */

#custom-search-input,#search{
    padding: 3px 3px 0 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input#search{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/* -- */

ol.breadcrumb > li > a
{
    color: #3678a0 !important;
}

input.btn
{
    background-color: #3678a0;
    color: #ffffff;
}

input.btn:hover
{
    background-color: #ffffff;
    color: #3678a0;
    border: solid 1px #3678a0;
}

.form-control:focus {
    border-color: #3678a0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(54,120,160, 0.5);
}

button.btn.btn-info.btn-lg, .input-group-btn
{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 40px;
}

button.btn.btn-lg
{
    font-size: 18px;
    padding: 0px;
    margin: 5px;
    width: 80px;
    height: 47px;
    border-left: solid 1px #ccc;
}


div.widget h3.widget-title, div.widget-body > p.simplenav > a, .purple
{
    color: #e32a78;
}

/*
.purple:hover
{
    color: #b62260;
}
*/

div.footer2
{
    background-color: #000000;
}

html, body
{
    height: 100%;
}


.search-bar-header-margin-left-45
{
    margin-left: 45px;
}

.flex-box
{
   display: flex;
}

.input-group-btn .custom-btn
{
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    border: hidden;
}

.bold
{
    font-weight: bold;
}

.padding-bottom
{
    margin-top: -2px;
}

.padding-top
{
    padding-top: 10px;
}

.btn-purple
{
    color: #e32a78;
}

.btn-purple:hover
{
    color: #ffffff;
    border-radius: 8px;
    background-color: #e32a78;
    margin-left: 0;
}

button.btn.btn-lg.btn-purple
{
    border: none;
}



/* ---------- Product Box ----------*/

.square
{
    border-style: hidden;
    box-shadow: 0px 8px 2px rgba(51, 51, 51, 0.4);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 260px;
    max-height: 260px;
    min-width: 250px;
    max-width: 250px;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    transition: all .5s ease-in-out;
    background-color: #ffffff;
    font-weight: 300;
}

.square:hover
{
    border-style: hidden;
    box-shadow: 0px 12px 4px rgba(51, 51, 51, 0.4);
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    transition:all .5s ease-in-out;
    overflow: hidden;
}

.img-resolution
{
    max-height: 150px;
    max-width: 130px;
    min-height: 150px;
    min-width: 130px;
}

.right
{
    text-align: right;
}

.left
{
    text-align: left;
}

.gras
{
    font-weight: bold;
}

.paragraphe
{
    font-size: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #333;
    font-weight: bold;
}

.btn-achat
{
    background-color: #e32a78;
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0;
}

.btn-achat:hover
{
    background-color: #a8235b;
    color: #fff;
}

html,body
{
    background-color: #ffffff;
}

a.link-off
{
    text-decoration: none;
    color: #333333;
}

/* ------- Twitter js typeahead ------ */


.twitter-typeahead,
.tt-hint,
.tt-input,
.tt-menu{
    width: 100% ! important;
    font-weight: normal;
    text-align: left;
    position: relative;
}

.tt-suggestion.tt-cursor, .tt-suggestion.tt-cursor small {
    color: #fff !important;
    /*background-color: #0097cf;*/
    background-color: #3678a0;

}

.tt-hint
{
    color: #999;
}

a.filtre
{
    background-color: #3678a0 !important;
    color: #FFFFFF;
}

a.filtre:hover
{
    background-color: #ffffff !important;
    color: #3678a0;
    border: solid 2px #3678a0;
}

/* --- Dropdown filtre --*/
.c-search > .form-control {
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    font-size: 1.3em;
    padding: 12px 12px;
    height: 44px;
    outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
    border-radius: 0px;
    border-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    height: 44px;
}

.no-well
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.noir
{
    color: #333333;
}

.blue
{
    color: #3678a0;
}

bg-blue
{
    background-color: #3678a0;
}

.hv-white:hover
{
    color: #3678a0;
    border: solid 1px #3678a0;
    background-color: #ffffff;
}

.fixed_bottom
{
    position: absolute;
    bottom:0;
    left: 0;
}

.navbar-inverse
{
    opacity: 1;
    background: #ffffff;
    min-height: 90px !important;
    max-height: 90px !important;
    background: rgb(219,219,219,.4);
}

.cart
{
    border-radius: 0;
    border-top: solid 2px #3678a0;
    background-color : #ffffff;
    color: #3678a0;
}

/* range slider */
.ui-slider-range
{
    background-color: #3678a0;
}

.filter-cart
{
    border: solid 1px #f2f2f2;
    font-family:"Open sans", Helvetica, Arial;
    padding: 0;
}

.filter-cart-header
{
    background-color: #3678a0;
    color: #ffffff;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

.filter-cart-label
{
    font-weight: 800;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.keyword
{
    color: #3678a0;
}

.logo-resolution
{
    min-height: 25px;
    max-height: 25px;
    min-width: 25px;
    max-width: 25px;
    position: absolute;
    right: 0;
    bottom: 2;
}

#header-text
{
    color: #3678a0;
    font-family:"Open sans", Helvetica, Arial;
}

@media screen and (min-width: 980px)
{
    #header-text
    {
        font-size: 36px;
    }
}

@media screen and (min-width: 692px)
{
    #header-text
    {
        font-size: 18px;
    }
}

.list-group .search-results-dropdown
{
    margin-top: 0 !important;
}

.float-right
{
    float: right;
}

@media screen and (max-width: 420px)
{

    #head
    {
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top:10px;
    }

    #header-text
    {
        font-size: 12px;
    }

    .custom-search-input input
    {
        font-size: 14px;
    }
    .list-group-item
    {
        font-size: 6px;
    }

    #head.thirdly
    {
        min-height: 150px;
    }

    .ban
    {
        background-color: rgba(255, 255, 255, 0.5);
    }

    input::placeholder
    {
        font-size: 10px;
    }

    ::-webkit-input-placeholder {
        font-size:10px;
    }
    :-moz-placeholder {
        font-size:10px;
        opacity:  1;
    }
    ::-moz-placeholder {
        font-size:10px;
    }
    :-ms-input-placeholder {
        font-size:10px;
    }

    h1.lead
    {
        margin-top: 10px;
        font-size: 22px !important;
    }

    p.tagline2
    {
        font-size: 12px;
    }

    .mobile
    {
        margin: unset !important;
        margin-right: unset !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
    }

    .mobile-search
    {
        margin-left: unset !important;
        margin-right: unset !important;
        margin-left: 0;
        margin-right: 0;
        padding: unset !important;
        padding: 0 !important;
        width: unset;
        width: 1000px;
    }

    .mobile-button
    {
        margin-left: unset !important;
        margin-right: unset !important;
        margin-left: 0;
        margin-right: 0;
        padding: unset !important;
        padding: 25px 15px;
        font-size: 16px;
        line-height: 2;
        width: 80px;
        height: 40px;
        text-align: center;
        float: right;
    }

    #custom-search-input,#search
    {
        padding: 1px 0 1px 1px;
    }

    #custom-search-input .glyphicon-search{
        font-size: 15px;
    }

    .mobile-margin-right-20
    {
        margin-right: 20px;
    }

    .no-margin
    {
        margin: unset !important;
        margin: 0;
    }

    .no-padding
    {
        padding: unset !important;
        padding: 0;
    }
}

@media screen and (min-width: 421px) and (max-width: 720px)
{

    #head
    {
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top:10px;
    }

    #header-text
    {
        font-size: 14px;
    }

    .list-group-item
    {
        font-size: 10px;
    }

    #head.thirdly
    {
        min-height: 150px;
    }

    .ban
    {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .custom-search-input input
    {
        font-size: 16px;
    }

    .list-group-item{
        font-size: 9px;
    }

    input::placeholder
    {
        font-size: 10px;
    }

    ::-webkit-input-placeholder {
        font-size:10px;
    }
    :-moz-placeholder {
        font-size:10px;
        opacity:  1;
    }
    ::-moz-placeholder {
        font-size:10px;
    }
    :-ms-input-placeholder {
        font-size:10px;
    }

    h1.lead
    {
        margin-top: 10px;
        font-size: 26px !important;
    }

    p.tagline2
    {
        font-size: 14px;
    }
    .mobile
    {
        margin: unset !important;
        margin-right: unset !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
    }

    .mobile-search
    {
        margin-left: unset !important;
        margin-right: unset !important;
        margin-left: 0;
        margin-right: 0;
        padding: unset !important;
        padding: 0 !important;
        width: unset;
        width: 1000px;
    }

    .mobile-button
    {
        margin-left: unset !important;
        margin-right: unset !important;
        margin-left: 0;
        margin-right: 0;
        padding: unset !important;
        padding: 25px 15px;
        font-size: 16px;
        line-height: 2;
        width: 80px;
        height: 40px;
        text-align: center;
        float: right;
    }

    #custom-search-input,#search
    {
        padding: 1px 0 1px 1px;
    }

    #custom-search-input .glyphicon-search{
        font-size: 15px;
    }

    .mobile-margin-right-20
    {
        margin-right: 20px;
    }

    .no-margin
    {
        margin: unset !important;
        margin: 0;
    }

    .no-padding
    {
        padding: unset !important;
        padding: 0;
    }
}

.gray
{
    color: #b8b8b8;
}

a.focused
{
    color: unset;
}

.img-resolution2
{
    min-width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    max-height: 640px;
}



.no-padding
{
    padding: 0;
}

@media screen and (max-height: 481px)
{
    .img-resolution2
    {
        min-height: 360px;
    }

}

@media screen and (min-height: 482px) and (max-height: 668px)
{
    .img-resolution2
    {
        min-height: 400px;
    }
}

@media screen and (min-height: 669px) and (max-height: 780px)
{
    .img-resolution2
    {
        min-height: 440px;
    }

    .list-group-item
    {
        font-size: 12px;
    }

}

/*-- Scroll to top --*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(54,120,160);
    background: rgba(54,120,160, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top span {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(54,120,160, 0.9);
}
#return-to-top:hover span {
    color: #fff;
    top: 5px;
}
/*-- end scroll to top --*/


/*-- footer --*/
#footerwrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: rgb(233,233,233, 0.4);
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: #333333;
}

#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #00b3fe
}
/*-- end footer --*/