/* Header */
#head
{
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ffffff;
	height: 100%;
	text-align: center;
	padding-top:15%;
	color:#3678a0;
	font-family:"Open sans", Helvetica, Arial;
	font-weight:300;
	opacity: 1;
	display: flex;
	padding-bottom: 20% !important;
}


.banner
{
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color:#3678a0;
	font-family:"Open sans", Helvetica, Arial;
	font-weight:300;
	opacity: 1;
	display: block;
	height: 400px;
	width: 100%;
}

#head:after
{
	position: absolute;
	contain: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
}

#head:hover:after
{
	display: block;
}

#head.secondary
{
	height:100px;
	min-height: 100px;
	padding-top:0px;
}

#head .lead
{
	font-family:"Open sans", Helvetica, Arial;
	color: rgba(0,0,0,0.6);
	text-shadow: 0px 2px 4px black;
	font-size:44px;
	margin-bottom:6px;
	color:white;
	line-height:1.15em;
}

#head .tagline
{
	color:rgba(255,255,255,0.75);
	margin-bottom:25px;
}

#head .tagline2
{
	color: rgba(0,0,0,0.8);
	text-shadow: 0px 4px 4px black;
	color:white;
	margin-bottom:25px;
	line-height:1.15em;
}

#head .tagline a
{
	/*color:#fff;*/
	color:#8300e9;
}

#head .btn
{
	margin-bottom:10px;
}

#head .btn-default
{
	text-shadow: none;
	background:transparent;
	color:rgba(255,255,255,.5);
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
	background: transparent;
}

#head .btn-default:hover, #head .btn-default:focus
{
	color:rgba(255,255,255,.8);
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
	background: transparent;
}

#head .btn-default:active, #head .btn-default.active
{
	color:#fff;
	-webkit-box-shadow:inset 0px 0px 0px 3px #fff;
	-moz-box-shadow:inset 0px 0px 0px 3px #fff;
	box-shadow:inset 0px 0px 0px 3px #fff;
	background: transparent;
}

/* Autohide navbar */
.slideUp
{
	top:-100px;
}

.headroom
{
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}


/* Highlights (in jumbotron in most cases) */
.highlight
{
	margin-top:40px;
}

.h-caption
{
	text-align: center;
}

.h-caption i
{
	display:block;
	font-size: 54px;
	color:#382526;
	margin-bottom:36px;
}

.h-caption h4
{
	color:#382526;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:20px;
}

.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6
{
	font-family:"Open sans", Helvetica, Arial;
}

h1, .h1, h2, .h2, h3, .h3
{
	margin-top:30px;
}

blockquote
{
	font-style: italic;
	font-family: Georgia;
	color:#999;
	margin:30px 0 30px;
}

label
{
	color: #777;
}

.thin
{
	font-weight:300;
}

.page-title
{
	margin-top:20px;
	font-weight:300;
}

.text-muted
{
	color:#888;
}

.breadcrumb
{
	background:none;
	padding:0;
	margin:30px 0 0px 0;
}

ul.list-spaces li
{
	margin-bottom:10px;
}

/* Helpers */
.container-full
{
	margin: 0 auto;
	width: 100%;
}

.top-space
{
	margin-top: 60px;
}

.top-margin
{
	margin-top:20px;
}

img
{
	max-width:100%;
}

img.pull-right
{
	margin-left: 10px;
}

img.pull-left
{
	margin-right: 10px;
}

ul.nav.navbar-nav.pull-right > li > a:link, ul.nav.navbar-nav.pull-right > li > a:visited
{
	color: #083c61 !important;
}
ul.nav.navbar-nav.pull-right > li > a:hover
{
	color: #09548a !important;
}

ul.nav.navbar-nav.pull-right > li.active> a
{
	color: #09548a !important;
}

/* -- Search Bar -- */

.custom-search-input{
	padding: 3px;
	border: solid 1px #E4E4E4;
	border-radius: 6px;
	background-color: #fff;
}

.custom-search-input input{
	border: 0;
	box-shadow: none;
}

.custom-search-input button{
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

.custom-search-input button:hover{
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}

.custom-search-input .glyphicon-search{
	font-size: 23px;
}
/* -- */

ol.breadcrumb > li > a
{
	color: #e32a78 !important;
}

input.btn
{
	background-color: #e32a78;
	color: #ffffff;
}

input.btn:hover
{
	background-color: #ffffff;
	color: #e32a78;
	border: solid 1px #e32a78;
}

/*
.form-control:focus {
	border-color: #e32a78;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}
*/

.form-control:focus {
	border-color: rgb(255, 255, 255, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px 0px 0px rgba(255, 100, 255, 0);
}

button.btn.btn-info.btn-lg, .input-group-btn
{
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	width: 50px;
	height: 40px;
	max-width:50px;
}

div.widget h3.widget-title, div.widget-body > p.simplenav > a, .purple
{
	color: #e32a78;
}


div.footer2
{
	background-color: #000000;
}

html, body
{
	height: 100%;
}

.navbar-inverse
{
	opacity: 1;
	background: #ffffff;
	min-height: 90px !important;
	max-height: 90px !important;
}

/* ------- Twitter js typeahead ------ */

.twitter-typeahead,
.tt-hint,
.tt-input,
.tt-menu{
	width: 100% ! important;
	font-weight: normal;
	text-align: left;
	position: relative;
}

.tt-hint
{
	color: #999;
}

/* twitter new */
/*
.tt-dropdown-menu {
	font-weight: lighter;
	width: 100%;
	margin-top: -6px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	max-height: 150px;
	overflow-y: auto;
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}
*/
.tt-suggestion.tt-cursor, .tt-suggestion.tt-cursor small {
	color: #fff !important;
	/*background-color: #0097cf;*/
	background-color: #3678a0;

}
/*
.tt-suggestion p {
	margin: 0;
}
*/


.empty-message {
	padding-left: 12px;
}

h2#tagline2
{
	font-size: 14px;
}

margin-top-5
{
	margin-top: 5%;
}

.active-items
{
	background-color: rgb(154,206,238);
}

.list-group .search-results-dropdown
{
	margin-top: 0 !important;
}

.float-right
{
	float: right;
}

@media screen and (max-width: 420px)
{

	#head
	{
		background-position: bottom;
		background-size: cover;
		background-repeat: no-repeat;
		min-height:300px;
		padding-top:160px;
	}

	.custom-search-input input
	{
		font-size: 14px;
	}

	.list-group-item{
		font-size: 7px;
	}

	input::placeholder
	{
		font-size: 10px;
	}

	::-webkit-input-placeholder {
		font-size:10px;
	}
	:-moz-placeholder {
		font-size:10px;
		opacity:  1;
	}
	::-moz-placeholder {
		font-size:10px;
	}
	:-ms-input-placeholder {
		font-size:10px;
	}

	h1.lead
	{
		margin-top: 10px;
		font-size: 22px !important;
	}

	p.tagline2
	{
		font-size: 12px;
	}
}

@media screen and (min-width: 421px) and (max-width: 720px)
{

	#head
	{
		background-position: bottom;
		background-size: cover;
		background-repeat: no-repeat;
		min-height:420px;
		padding-top:160px;
	}
	.custom-search-input input
	{
		font-size: 16px;
	}

	.list-group-item{
		font-size: 9px;
	}

	input::placeholder
	{
		font-size: 10px;
	}

	::-webkit-input-placeholder {
		font-size:10px;
	}
	:-moz-placeholder {
		font-size:10px;
		opacity:  1;
	}
	::-moz-placeholder {
		font-size:10px;
	}
	:-ms-input-placeholder {
		font-size:10px;
	}

	h1.lead
	{
		margin-top: 10px;
		font-size: 26px !important;
	}

	p.tagline2
	{
		font-size: 14px;
	}
}

.gray
{
	color: #b8b8b8;
}

a.focused
{
	color: unset;
}
